#sidebar{
    margin-top: 8vh;
}

.well{
    background-color: white;
        margin-top: 8vh;
    height: 89vh;
}

.list-group-item{
    width: 100%;
}

.tooltips { /* Container for our tooltip */
 position: relative; 
}

.tooltips .tooltiptext { /* This is for the tooltip text */
 visibility: hidden;
 width: 100px;
 color: white;
 text-align: center;
 border-radius: 10px; /* Defines tooltip text position */
 position: absolute;
 z-index: 1;
 top: -10px;
 right: 100%; 
} 

.tooltips:hover .tooltiptext { /* Makes tooltip text visible when hovered on */
 visibility: visible;
}

.tooltips .tooltiptext::after {
 position: absolute;
}

.list-group-item{
    margin-bottom: 1px;
    margin-top: 1px;
}

#main{
    padding-left: 10%;
}
/*
#main li{
    padding-left: 5%;
}
*/
.isClicked{
    font-weight: bold;
}


.box{
    border: 2px solid;
    border-radius: 5px;
}


ol{
    padding-left: 2em;
}






.margin-10{
    margin-left: -10px;
}

.margin0{
    margin-left: 0px;
}

.margin10{
    margin-left: 10px;
}

.margin20{
    margin-left: 20px;
}



.margin30{
    margin-left: 30px;
}

.margin40{
    margin-left: 40px;
}

.margin50{
    margin-left: 50px;
}

.margin60{
    margin-left: 60px;
}

.margin70{
    margin-left: 70px;
}

.margin80{
    margin-left: 80px;
}